.canvas {
    height: calc(100% + 7.8vw);
    margin: -3.9vw;
    width: calc(100% + 7.8vw);
}

@media (min-aspect-ratio: 16/9) {
    .canvas {
        height: calc(100% + 7.8vh * 16 / 9);
        margin: calc(-3.9vh * 16 / 9);
        width: calc(100% + 7.8vh * 16 / 9);
    }
}
