<div class="qr-code">
    <svg version="1.1" viewBox="0 0 27 27">
        <rect fill="#fff" height="27" stroke="none" width="27" x="0" y="0"></rect>
        <rect fill="none" height="6" stroke="#000" width="6" x="1.5" y="1.5"></rect>
        <rect height="3" stroke="none" width="3" x="3" y="3"></rect>
        <rect fill="none" height="6" stroke="#000" width="6" x="19.5" y="1.5"></rect>
        <rect height="3" stroke="none" width="3" x="21" y="3"></rect>
        <rect fill="none" height="6" stroke="#000" width="6" x="1.5" y="19.5"></rect>
        <rect height="3" stroke="none" width="3" x="3" y="21"></rect>
        <rect height="1" stroke="none" width="1" x="9" y="1"></rect>
        <rect height="1" stroke="none" width="3" x="15" y="1"></rect>
        <rect height="1" stroke="none" width="1" x="9" y="2"></rect>
        <rect height="1" stroke="none" width="3" x="12" y="2"></rect>
        <rect height="1" stroke="none" width="2" x="9" y="3"></rect>
        <rect height="1" stroke="none" width="1" x="13" y="3"></rect>
        <rect height="1" stroke="none" width="2" x="15" y="3"></rect>
        <rect height="1" stroke="none" width="3" x="9" y="4"></rect>
        <rect height="1" stroke="none" width="2" x="13" y="4"></rect>
        <rect height="1" stroke="none" width="1" x="16" y="4"></rect>
        <rect height="1" stroke="none" width="2" x="10" y="5"></rect>
        <rect height="1" stroke="none" width="1" x="13" y="5"></rect>
        <rect height="1" stroke="none" width="3" x="15" y="5"></rect>
        <rect height="1" stroke="none" width="3" x="9" y="6"></rect>
        <rect height="1" stroke="none" width="1" x="14" y="6"></rect>
        <rect height="1" stroke="none" width="1" x="9" y="7"></rect>
        <rect height="1" stroke="none" width="1" x="11" y="7"></rect>
        <rect height="1" stroke="none" width="1" x="13" y="7"></rect>
        <rect height="1" stroke="none" width="1" x="15" y="7"></rect>
        <rect height="1" stroke="none" width="1" x="17" y="7"></rect>
        <rect height="1" stroke="none" width="2" x="11" y="8"></rect>
        <rect height="1" stroke="none" width="1" x="15" y="8"></rect>
        <rect height="1" stroke="none" width="2" x="1" y="9"></rect>
        <rect height="1" stroke="none" width="3" x="5" y="9"></rect>
        <rect height="1" stroke="none" width="1" x="11" y="9"></rect>
        <rect height="1" stroke="none" width="1" x="13" y="9"></rect>
        <rect height="1" stroke="none" width="1" x="15" y="9"></rect>
        <rect height="1" stroke="none" width="1" x="17" y="9"></rect>
        <rect height="1" stroke="none" width="1" x="20" y="9"></rect>
        <rect height="1" stroke="none" width="4" x="22" y="9"></rect>
        <rect height="1" stroke="none" width="2" x="1" y="10"></rect>
        <rect height="1" stroke="none" width="1" x="4" y="10"></rect>
        <rect height="1" stroke="none" width="1" x="6" y="10"></rect>
        <rect height="1" stroke="none" width="1" x="8" y="10"></rect>
        <rect height="1" stroke="none" width="1" x="14" y="10"></rect>
        <rect height="1" stroke="none" width="2" x="16" y="10"></rect>
        <rect height="1" stroke="none" width="2" x="21" y="10"></rect>
        <rect height="1" stroke="none" width="1" x="24" y="10"></rect>
        <rect height="1" stroke="none" width="1" x="2" y="11"></rect>
        <rect height="1" stroke="none" width="1" x="5" y="11"></rect>
        <rect height="1" stroke="none" width="1" x="7" y="11"></rect>
        <rect height="1" stroke="none" width="2" x="10" y="11"></rect>
        <rect height="1" stroke="none" width="1" x="16" y="11"></rect>
        <rect height="1" stroke="none" width="2" x="18" y="11"></rect>
        <rect height="1" stroke="none" width="3" x="21" y="11"></rect>
        <rect height="1" stroke="none" width="3" x="2" y="12"></rect>
        <rect height="1" stroke="none" width="2" x="9" y="12"></rect>
        <rect height="1" stroke="none" width="1" x="13" y="12"></rect>
        <rect height="1" stroke="none" width="2" x="23" y="12"></rect>
        <rect height="1" stroke="none" width="1" x="1" y="13"></rect>
        <rect height="1" stroke="none" width="3" x="5" y="13"></rect>
        <rect height="1" stroke="none" width="2" x="12" y="13"></rect>
        <rect height="1" stroke="none" width="2" x="15" y="13"></rect>
        <rect height="1" stroke="none" width="3" x="18" y="13"></rect>
        <rect height="1" stroke="none" width="4" x="22" y="13"></rect>
        <rect height="1" stroke="none" width="3" x="1" y="14"></rect>
        <rect height="1" stroke="none" width="1" x="6" y="14"></rect>
        <rect height="1" stroke="none" width="1" x="9" y="14"></rect>
        <rect height="1" stroke="none" width="1" x="11" y="14"></rect>
        <rect height="1" stroke="none" width="2" x="13" y="14"></rect>
        <rect height="1" stroke="none" width="1" x="16" y="14"></rect>
        <rect height="1" stroke="none" width="1" x="18" y="14"></rect>
        <rect height="1" stroke="none" width="1" x="21" y="14"></rect>
        <rect height="1" stroke="none" width="1" x="24" y="14"></rect>
        <rect height="1" stroke="none" width="1" x="4" y="15"></rect>
        <rect height="1" stroke="none" width="4" x="6" y="15"></rect>
        <rect height="1" stroke="none" width="5" x="12" y="15"></rect>
        <rect height="1" stroke="none" width="4" x="20" y="15"></rect>
        <rect height="1" stroke="none" width="1" x="4" y="16"></rect>
        <rect height="1" stroke="none" width="1" x="6" y="16"></rect>
        <rect height="1" stroke="none" width="1" x="11" y="16"></rect>
        <rect height="1" stroke="none" width="3" x="16" y="16"></rect>
        <rect height="1" stroke="none" width="2" x="20" y="16"></rect>
        <rect height="1" stroke="none" width="2" x="23" y="16"></rect>
        <rect height="1" stroke="none" width="3" x="1" y="17"></rect>
        <rect height="1" stroke="none" width="3" x="6" y="17"></rect>
        <rect height="1" stroke="none" width="1" x="10" y="17"></rect>
        <rect height="1" stroke="none" width="9" x="15" y="17"></rect>
        <rect height="1" stroke="none" width="5" x="9" y="18"></rect>
        <rect height="1" stroke="none" width="3" x="15" y="18"></rect>
        <rect height="1" stroke="none" width="1" x="21" y="18"></rect>
        <rect height="1" stroke="none" width="3" x="10" y="19"></rect>
        <rect height="1" stroke="none" width="1" x="15" y="19"></rect>
        <rect height="1" stroke="none" width="1" x="17" y="19"></rect>
        <rect height="1" stroke="none" width="1" x="19" y="19"></rect>
        <rect height="1" stroke="none" width="1" x="21" y="19"></rect>
        <rect height="1" stroke="none" width="1" x="9" y="20"></rect>
        <rect height="1" stroke="none" width="1" x="11" y="20"></rect>
        <rect height="1" stroke="none" width="1" x="15" y="20"></rect>
        <rect height="1" stroke="none" width="1" x="17" y="20"></rect>
        <rect height="1" stroke="none" width="5" x="21" y="20"></rect>
        <rect height="1" stroke="none" width="2" x="9" y="21"></rect>
        <rect height="1" stroke="none" width="1" x="15" y="21"></rect>
        <rect height="1" stroke="none" width="7" x="17" y="21"></rect>
        <rect height="1" stroke="none" width="1" x="10" y="22"></rect>
        <rect height="1" stroke="none" width="3" x="12" y="22"></rect>
        <rect height="1" stroke="none" width="2" x="19" y="22"></rect>
        <rect height="1" stroke="none" width="3" x="23" y="22"></rect>
        <rect height="1" stroke="none" width="2" x="11" y="23"></rect>
        <rect height="1" stroke="none" width="1" x="14" y="23"></rect>
        <rect height="1" stroke="none" width="2" x="18" y="23"></rect>
        <rect height="1" stroke="none" width="1" x="22" y="23"></rect>
        <rect height="1" stroke="none" width="1" x="24" y="23"></rect>
        <rect height="1" stroke="none" width="2" x="9" y="24"></rect>
        <rect height="1" stroke="none" width="1" x="12" y="24"></rect>
        <rect height="1" stroke="none" width="1" x="16" y="24"></rect>
        <rect height="1" stroke="none" width="6" x="19" y="24"></rect>
        <rect height="1" stroke="none" width="3" x="9" y="25"></rect>
        <rect height="1" stroke="none" width="2" x="15" y="25"></rect>
        <rect height="1" stroke="none" width="3" x="23" y="25"></rect>
    </svg>
</div>
<a href="https://chrisguttandin.github.io/berlin-video-tech-meetup-june-2023">bit.ly/vtm-06-2023</a>
