@use '@fontsource/montserrat/scss/mixins' as montserrat;

@include montserrat.faces(
    $directory: '@fontsource/montserrat/files/',
    $styles: italic normal,
    $subsets: latin latin-ext,
    $weights: 400 500
);

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #e86850;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 8vw;
    height: 56.25vw;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (min-aspect-ratio: 16/9) {
    body {
        font-size: calc(8vh * 16 / 9);
        height: 100%;
        margin: 0 auto;
        width: calc(100vh * 16 / 9);
    }
}

h1 {
    font-size: 120%;
    font-weight: 500;
}

h2 {
    font-size: 80%;
    font-weight: 500;
}

li,
p {
    color: #fff;
    font-size: 50%;
}

body h1:first-child,
body h2 {
    margin-top: 0;
}

ul {
    margin: 0.5em 0;
    padding: 0 0 0 0.5em;
}

li {
    margin: 0.5em 0;
}

a {
    color: #e86850;
}

.footnote {
    color: #fff;
    display: block;
    font-size: 30%;
    margin: 2% auto 0;

    &.centered {
        margin: 10% auto 0;
        text-align: center;
    }
}

.logo {
    display: block;
    margin: 5% auto 0;
    width: 40%;
}

.logo.spotterfish {
    aspect-ratio: 1000/208;
    background-image: url('../images/spotterfish.png');
    background-size: contain;
    margin: 10% auto 0;
    width: 60%;
}

.player {
    margin: -3.9vw;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: #e86850;
}

@media (min-aspect-ratio: 16/9) {
    .player {
        margin: calc(-3.9vh * 16 / 9);
    }
}
