<h2>Vimeo</h2>
<!-- prettier-ignore -->
<vtm-prism language="html" ngPreserveWhitespaces><!-- htmlmin:ignore --><!-- prettier-ignore -->&lt;div id="vimeo"&gt;&lt;/div&gt;
&lt;script&gt;
    const player = new Vimeo.Player('vimeo', &lbrace; id: 802212449 &rbrace;);

    player.setTimingSrc(timingObject);
&lt;/script&gt;<!-- htmlmin:ignore --></vtm-prism>
<a
    class="footnote"
    href="https://github.com/vimeo/player.js#settimingsrctimingobject-timingobject-options-timingsrcconnectoroptions-promisetimingsrcconnector"
    >github.com/vimeo/player.js#settimingsrctimingobject-timingobject-options-timingsrcconnectoroptions-promisetimingsrcconnector</a
>
